[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyjwt = "*"
termcolor = "*"
arghelper = "*"
radl = "*"
paramiko = "*"
pygments = "*"
yaspin = "*"
tosca-parser = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
pylama = "*"

[requires]
python_version = "3"
